In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                            'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one -1.373990 -1.022931
1  bar    one -0.135955 -1.710693
2  foo    two  2.401341  0.213601
3  bar  three  1.193230 -0.994709
4  foo    two -0.331358 -0.087852
5  bar    two -0.555800 -0.231174
6  foo    one  0.098532 -0.077077
7  foo  three -0.218193 -2.111280

In [8]:
df_0=df.groupby('A').count()
print(df_0)

     B  C  D
A
bar  3  3  3
foo  5  5  5

In [9]:
print(df.groupby(['A', 'B']).count())

           C  D
A   B
bar one    1  1
    three  1  1
    two    1  1
foo one    2  2
    three  1  1
    two    2  2

In [10]:
grouped=df.groupby(['A'])
grouped["C"]

In [11]:
df.groupby(['A', 'B']).agg([np.sum, np.mean, np.std])

                  C                            D
                sum      mean      std       sum      mean       std
A   B
bar one   -0.135955 -0.135955      NaN -1.710693 -1.710693       NaN
    three  1.193230  1.193230      NaN -0.994709 -0.994709       NaN
    two   -0.555800 -0.555800      NaN -0.231174 -0.231174       NaN
foo one   -1.275457 -0.637729  1.04123 -1.100008 -0.550004  0.668820
    three -0.218193 -0.218193      NaN -2.111280 -2.111280       NaN
    two    2.069984  1.034992  1.93231  0.125749  0.062874  0.213159

In [14]:
df_0=df.groupby('A')
df_0["B"].count()

A
bar    3
foo    5
Name: B, dtype: int64

In [17]:
sf = pd.Series([1, 1, 2, 3, 3, 3])
sf.groupby(sf)

In [21]:
sf.groupby(sf).filter(lambda x: x.sum()>2)

3    3
4    3
5    3
dtype: int64

In [22]:
for i in sf.groupby(sf):
    print(i)

(1, 0    1
1    1
dtype: int64)
(2, 2    2
dtype: int64)
(3, 3    3
4    3
5    3
dtype: int64)

In [30]:

dates = np.asarray(pd.date_range('1/1/2000', periods=8))
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01 -0.159289  0.635359  0.347169  0.951949
2000-01-02 -0.963270  0.037915 -0.090537 -0.954093
2000-01-03 -0.397243 -0.496035  0.221576  1.085912
2000-01-04  0.331746 -0.896486 -1.894054 -0.115327
2000-01-05  0.499429  1.536600 -0.753343 -0.275946
2000-01-06 -1.495066 -0.370580  0.579039  1.694034
2000-01-07 -0.481420  0.935092  1.984819  0.191758
2000-01-08 -0.519380  2.313890  0.157449 -0.017473

In [31]:
df.ix[df["A"]>0,:]

                   A         B         C         D
2000-01-04  0.331746 -0.896486 -1.894054 -0.115327
2000-01-05  0.499429  1.536600 -0.753343 -0.275946

In [39]:
df.ix[df["A"]==0.331746,:]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [33]:
df.ix[df["A"]>0,["C","D"]]

                   C         D
2000-01-04 -1.894054 -0.115327
2000-01-05 -0.753343 -0.275946

In [42]:
df=pd.DataFrame({"a":list([1,2,3,4,5,6,5,5,5]),"b":list([4,5,6,7,9,6,7,8,9])})
df

   a  b
0  1  4
1  2  5
2  3  6
3  4  7
4  5  9
5  6  6
6  5  7
7  5  8
8  5  9

In [44]:
df.ix[df["a"]==5,:]

   a  b
4  5  9
6  5  7
7  5  8
8  5  9

In [69]:
from sklearn.preprocessing import OneHotEncoder
enc=OneHotEncoder()
enc.fit(df.ix[df["a"]==5,"b"])
df2=enc.transform(df.ix[df["a"]==5,"b"]).toarray()
print(df2)

[[ 1.  1.  1.  1.]]

/opt/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/opt/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [71]:
df3=pd.get_dummies(df.ix[df["a"]==5,"b"])
df3

     7    8    9
4  0.0  0.0  1.0
6  1.0  0.0  0.0
7  0.0  1.0  0.0
8  0.0  0.0  1.0